<!-- Footer -->

<hr>

<footer>

  <div class="container" max>
    <div class="row">      
      <div class="col" style="text-align:center">
          <h2 class="section-heading" id="cdD">00</h2>
      </div>
      <div class="col" style="text-align:center">
          <h2 class="section-heading" id="cdH">00</h2>
      </div>
      <div class="col" style="text-align:center">
          <h2 class="section-heading" id="cdM">00</h2>
      </div>
      <div class="col" style="text-align:center">
          <h2 class="section-heading" id="cdS">00</h2>
      </div>
    </div>

    <div class="row">
    <div class="col" style="text-align:center"> 
      <div class="copyright text-muted">Days</div>
    </div>                    
    <div class="col" style="text-align:center"> 
      <div class="copyright text-muted">Hours</div>
    </div>
    <div class="col" style="text-align:center"> 
      <div class="copyright text-muted">Minutes</div>
    </div>
    <div class="col" style="text-align:center"> 
      <div class="copyright text-muted">Seconds</div>
    </div>
    </div>



  
    <script>
      // Change the value of countDownEndDate to the day you want to end the count down
      var countDownEndDate = "August 9, 2024 13:30:00";
      
      var endDate = new Date(countDownEndDate).getTime();
      
      var x = setInterval(function() {
      
        var timeNow = new Date().getTime();
      
        var timeLeft = endDate - timeNow;
      
        var days    = Math.floor(timeLeft / (1000 * 60 * 60 * 24));
        var hours   = Math.floor((timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);
  
        if(days < 10) {
          days = "0" + days;
        }
  
        if(hours < 10) {
          hours = "0" + hours;
        }
  
        if(minutes < 10) {
          minutes = "0" + minutes;
        }
  
        if(seconds < 10) {
          seconds = "0" + seconds
        }


        if (timeLeft > 0) {
          document.getElementById("cdD").innerHTML = days;
          document.getElementById("cdH").innerHTML = hours;
          document.getElementById("cdM").innerHTML = minutes;
          document.getElementById("cdS").innerHTML = seconds;
        }
      }, 1000);
    </script>
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          {% if site.email %}
          <li class="list-inline-item">
            <a href="mailto:{{ site.email | encode_email }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="far fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.twitter_username %}
          <li class="list-inline-item">
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.facebook_username %}
          <li class="list-inline-item">
            <a href="https://www.facebook.com/{{ site.facebook_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.linkedin_username %}
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li class="list-inline-item">
            <a href="https://github.com/{{ site.github_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.instagram_username %}
          <li class="list-inline-item">
            <a href="https://instagram.com/{{ site.instagram_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</footer>
